setuptools
wheel
flask
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
torchaudio --index-url https://download.pytorch.org/whl/cpu
h5py>=3.10.0
matplotlib
opencv-python==4.6.0.66
scipy
timm==0.8.17dev0
pillow
numpy==1.24.1
trimesh
flask-cors
huggingface-hub
tqdm
wandb
appdirs
attrs
black
blosc2
boto3
botocore>=1.34.54
certifi>=2022.12.7
charset-normalizer
click
contourpy
cycler
docker-pycreds
einops>=0.7.0
filelock
flake8>=7.0.0
flake8-bugbear>=24.2.6
flake8-comprehensions>=3.14.0
fonttools
fsspec
fvcore>=0.1.5.post20221221
gitdb
GitPython
idna
imageio
imath
iopath
isort
Jinja2
jmespath
kiwisolver
MarkupSafe
mccabe
mpmath
msgpack
mypy-extensions
ndindex
networkx
ninja
numexpr
opencv-python
OpenEXR
packaging
pandas
pathspec
platformdirs
portalocker
protobuf>=4.25.3
psutil
py-cpuinfo
pycodestyle
pyflakes
pyparsing
python-dateutil
pytz
PyYAML
requests
safetensors
sentry-sdk
setproctitle
six
smmap
spaces
sympy
tables
tabulate
termcolor
triton>=2.4.0
typing_extensions
tzdata==2024.1
urllib3==1.26.13
yacs
xformers>=0.0.26